:host {
  --_dtpc-slider--border-color: var(--dtpc-slider--border-color, transparent);
  --_dtpc-slider--border-width: var(--dtpc-slider--border-width, 0);
  --_dtpc-slider--border-radius: var(--dtpc-slider--border-radius, 100vw);
  --_dtpc-volume-slider--padding: var(--dtpc-volume-slider--padding, 0);
  --_dtpc-volume-slider--padding-inline: var(--dtpc-volume-slider--padding-inline, var(--_dtpc-volume-slider--padding));
  --_dtpc-volume-slider--padding-block: var(--dtpc-volume-slider--padding-block, var(--_dtpc-volume-slider--padding));
  --_dtpc-volume-slider--surface: var(--dtpc-volume-slider--surface, transparent);
  --_dtpc-volume-slider--surface-blur: var(--dtpc-volume-slider--surface-blur, 0);

  display: block;
}

.wrapper {
  --_border-color: var(--_dtpc-slider--border-color);
  --_border-width: var(--_dtpc-slider--border-width);
  --_border-radius: var(--_dtpc-slider--border-radius);
  --_padding-inline: var(--_dtpc-volume-slider--padding-inline);
  --_padding-block: var(--_dtpc-volume-slider--padding-block);
  --_surface: var(--_dtpc-volume-slider--surface);
  --_surface-blur: var(--_dtpc-volume-slider--surface-blur);

  transition: backdrop-filter 200ms linear;

  background-color: var(--_surface);

  border-style: solid;
  border-width: var(--_border-width);
  border-color: var(--_border-color);
  border-radius: var(--_border-radius);

  backdrop-filter: blur(var(--_surface-blur));
}
