:host {
  --_dtpc-player--foreground: var(--dtpc-player--primary-base, CanvasText);
  --_dtpc-player--highlight: var(--dtpc-player--highlight, LinkText);
  --_dtpc-player--surface: var(--dtpc-player--surface, Canvas);
  --_dtpc-player--surface-opacity: var(--dtpc-player--bg-opacity, 0);
  --_dtpc-player--surface-blur: var(--dtpc-player--bg-blur, 0);
  --_dtpc-player--padding: var(--dtpc-player--padding, 0);
  --_dtpc-player--padding-inline: var(--dtpc-player--padding-inline, var(--_dtpc-player--padding));
  --_dtpc-player--padding-block: var(--dtpc-player--padding-block, var(--_dtpc-player--padding));
  --_dtpc-player--spacing: var(--dtpc-player--spacing, 0.5rem);

  /* Time */
  --_dtpc-player--time--color: var(--dtpc-player--time--font-size, var(--_dtpc-player--foreground));
  --_dtpc-player--time--font-size: var(--dtpc-player--time--font-size, 0.875rem);
  --_dtpc-player--time--font-family: var(--dtpc-player--time--font-family, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace);
  --_dtpc-player--time--font-weight: var(--dtpc-player--time--font-weight, inherit);
}

.wrapper {
  display: grid;

  & > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.main {
  --_spacing: var(--_dtpc-player--spacing);
  --_padding-inline: var(--_dtpc-player--padding-inline);
  --_padding-block: var(--_dtpc-player--padding-block);

  display: flex;
  align-items: center;
  gap: var(--_spacing);

  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);
}
