/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

dtpc-volume-slider {
	--__dtpc-slider--progress--color: var(--dtpc-volume-slider--progress--color);
	--__dtpc-slider--track--color: var(--dtpc-volume-slider--track--color);
	--__dtpc-slider--track--thickness: var(
		--dtpc-volume-slider--track--thickness
	);
	--__dtpc-slider--track--radius: var(--dtpc-volume-slider--track--radius);
	--__dtpc-slider--track--border-color: var(
		--dtpc-volume-slider--track--border-color
	);
	--__dtpc-slider--track--border-thickness: var(
		--dtpc-volume-slider--track--border-thickness
	);
	--__dtpc-slider--track--border-offset: var(
		--dtpc-volume-slider--track--border-offset
	);
	--__dtpc-slider--scrubber--color: var(--dtpc-volume-slider--scrubber--color);
	--__dtpc-slider--scrubber--size: var(--dtpc-volume-slider--scrubber--size);
	--__dtpc-slider--scrubber--border-color: var(
		--dtpc-volume-slider--scrubber--border-color
	);
	--__dtpc-slider--scrubber--border-thickness: var(
		--dtpc-volume-slider--scrubber--border-thickness
	);
	--__dtpc-slider--scrubber--border-radius: var(
		--dtpc-volume-slider--scrubber--border-radius
	);
	--__dtpc-slider--scrubber--focus-ring-color: var(
		--dtpc-volume-slider--scrubber--focus-ring-color
	);
	--__dtpc-slider--scrubber--focus-ring-offset: var(
		--dtpc-volume-slider--scrubber--focus-ring-offset
	);
	--__dtpc-slider--scrubber--focus-ring-thickness: var(
		--dtpc-volume-slider--scrubber--focus-ring-thickness
	);

	--_dtpc-volume-slider--border-color: var(
		--__dtpc-volume-slider--border-color,
		var(--dtpc-volume-slider--border-color, transparent)
	);
	--_dtpc-volume-slider--border-width: var(
		--__dtpc-volume-slider--border-width,
		var(--dtpc-volume-slider--border-width, 0)
	);
	--_dtpc-volume-slider--border-radius: var(
		--__dtpc-volume-slider--border-radius,
		var(--dtpc-volume-slider--border-radius, 100vw)
	);
	--_dtpc-volume-slider--padding: var(
		--__dtpc-volume-slider--padding,
		var(--dtpc-volume-slider--padding, 0)
	);
	--_dtpc-volume-slider--padding-inline: var(
		--__dtpc-volume-slider--padding-inline,
		var(
			--dtpc-volume-slider--padding-inline,
			var(--_dtpc-volume-slider--padding)
		)
	);
	--_dtpc-volume-slider--padding-block: var(
		--__dtpc-volume-slider--padding-block,
		var(
			--dtpc-volume-slider--padding-block,
			var(--_dtpc-volume-slider--padding)
		)
	);
	--_dtpc-volume-slider--surface: var(
		--__dtpc-volume-slider--surface,
		var(--dtpc-volume-slider--surface, transparent)
	);
	--_dtpc-volume-slider--surface-blur: var(
		--__dtpc-volume-slider--surface-blur,
		var(--dtpc-volume-slider--surface-blur, var(--_dtpc-player--surface-blur))
	);

	display: block;

	.wrapper {
		--_border-color: var(--_dtpc-slider--border-color);
		--_border-width: var(--_dtpc-slider--border-width);
		--_border-radius: var(--_dtpc-slider--border-radius);
		--_padding-inline: var(--_dtpc-volume-slider--padding-inline);
		--_padding-block: var(--_dtpc-volume-slider--padding-block);
		--_surface: var(--_dtpc-volume-slider--surface);
		--_surface-blur: var(--_dtpc-volume-slider--surface-blur);

		display: grid;
		place-content: center;

		padding-inline: var(--_dtpc-volume-slider--padding-inline);
		padding-block: var(--_dtpc-volume-slider--padding-block);

		background-color: var(--_dtpc-volume-slider--surface);

		border-style: solid;
		border-width: var(--_dtpc-volume-slider--border-width);
		border-color: var(--_dtpc-volume-slider--border-color);
		border-radius: var(--_dtpc-volume-slider--border-radius);

		backdrop-filter: blur(var(--_dtpc-volume-slider--surface-blur));
	}
}
