:host {
  --dtpc-button--size: var(--dtpc-play-button--size, 2rem);
  --dtpc-button--padding: var(--dtpc-play-button--padding, 0.5rem);
  --dtpc-button--foreground: var(--dtpc-play-button--foreground);
  --dtpc-button--foreground--hover: var(--dtpc-play-button--foreground--hover, Canvas);
  --dtpc-button--foreground--active: var(--dtpc-play-button--foreground--playing);
  --dtpc-button--surface: var(--dtpc-play-button--surface);
  --dtpc-button--surface--hover: var(--dtpc-play-button--surface--hover, CanvasText);
  --dtpc-button--surface--active: var(--dtpc-play-button--surface--playing);
  --dtpc-button--surface-opacity: var(--dtpc-play-button--surface-opacity);
  --dtpc-button--surface-opacity--hover: var(--dtpc-play-button--surface-opacity--hover, 100%);
  --dtpc-button--surface-opacity--active: var(--dtpc-play-button--surface-opacity--playing, 0);
  --dtpc-button--border-color: var(--dtpc-play-button--border-color, transparent);
  --dtpc-button--border-color--hover: var(--dtpc-play-button--border-color--hover, transparent);
  --dtpc-button--border-color--active: var(--dtpc-play-button--border-color--playing, CanvasText);
  --dtpc-button--border-radius: var(--dtpc-play-button--border-radius);
  --dtpc-button--border-radius--hover: var(--dtpc-play-button--border-radius--hover);
  --dtpc-button--border-radius--active: var(--dtpc-play-button--border-radius--playing);
  --dtpc-button--border-width: var(--dtpc-play-button--border-width, 0.125);
  --dtpc-button--border-width--hover: var(--dtpc-play-button--border-width--hover, 0.125);
  --dtpc-button--border-width--active: var(--dtpc-play-button--border-width--playing, 0.125);
  --dtpc-button--focus-ring-color: var(--dtpc-play-button--focus-ring-color);
  --dtpc-button--focus-ring-offset: var(--dtpc-play-button--focus-ring-offset);
  --dtpc-button--focus-ring-width: var(--dtpc-play-button--focus-ring-width);
}

:host([data-status='playing']) {
  --dtpc-button--foreground: var(--dtpc-button--foreground--active);
  --dtpc-button--surface: var(--dtpc-button--surface--active);
  --dtpc-button--surface-opacity: var(--dtpc-button--surface-opacity--active);
  --dtpc-button--border-color: var(--dtpc-button--border-color--active);
  --dtpc-button--border-width: var(--dtpc-button--border-width--active);
  --dtpc-button--border-radius: var(--dtpc-button--border-radius--active);

  &:hover {
    --dtpc-button--surface-opacity: var(--dtpc-button--surface-opacity--hover);
  }
}
