:root {
  --dtpc-primary: #0072a3;
  --dtpc-primary-contrast: white;
  --dtpc-secondary: #535355;
  --dtpc-secondary-contrast: white;
  --dtpc-success: #198754;
  --dtpc-success-contrast: white;
  --dtpc-warn: #ffc107;
  --dtpc-warn-contrast: black;
  --dtpc-danger: #dc3545;
  --dtpc-danger-contrast: white;
  --dtpc-info: #75bbe1;
  --dtpc-info-contrast: black;
}

p {
  font-size: inherit;
}

details.dovetail-section {
  --_accent-color: var(--accent-color, var(--dtpc-secondary, currentColor));
  --_accent-color-contrast: var(
    --accent-color-contrast,
    var(--dtpc-secondary-contrast, white)
  );
  --_details-padding: var(--details-padding, 0.5rem);

  margin-block-start: 1rem;

  border: 2px solid var(--_accent-color);
  border-radius: 0.25rem;

  summary {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    list-style: none;

    padding: var(--_details-padding);

    background-color: var(--_accent-color);

    color: var(--_accent-color-contrast);
    font-weight: 500;

    cursor: pointer;

    * {
      color: inherit;
    }

    h2 {
      margin: 0;
    }

    &::before {
      /* Dashicons: Arrow Right */
      content: "\f139";
      display: inline-block;
      font-family: "dashicons";
      font-size: 1.75em;
    }
  }

  .dovetail-forms {
    display: grid;
    gap: 0.5rem;
    padding: var(--_details-padding);
  }

  .form-table {
    width: auto;
    margin: 0;
  }

  &.success {
    --accent-color: var(--dtpc-success);
    --accent-color-contrast: var(--dtpc-success-contrast);
  }

  &.info {
    --accent-color: var(--dtpc-info);
    --accent-color-contrast: var(--dtpc-info-contrast);
  }

  &.warn {
    --accent-color: var(--dtpc-warn);
    --accent-color-contrast: var(--dtpc-warn-contrast);
  }

  &.danger {
    --accent-color: var(--dtpc-danger);
    --accent-color-contrast: var(--dtpc-danger-contrast);
  }

  &[open] {
    summary {
      &::before {
        /* Dashicons: Arrow Down */
        content: "\f140";
      }
    }
  }
}

.text-success {
  color: var(--dtpc-success);
}

.metabox-holder {
  container-name: metabox;
  container-type: inline-size;
}

.form-table {
  margin-block-start: 2rem;

  tbody {
    display: grid;
    gap: 0.5rem;
  }

  tr {
    display: grid;
    gap: 1rem;

    padding: 1rem 1.5rem;

    background-color: #fff;

    border-radius: 0.25rem;

    + tr {
      margin-block-start: 0.5rem;
    }
  }

  td {
    max-width: 80ch;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
  }

  th {
    padding: 0;
    text-wrap: balance;
  }

  details {
    --_accent-color: var(--accent-color, var(--dtpc-secondary, currentColor));
    --_accent-color-contrast: var(
      --accent-color-contrast,
      var(--dtpc-secondary-contrast, white)
    );
    --_details-padding: var(--details-padding, 1rem);

    margin-block-start: 1rem;
    padding: var(--_details-padding);

    border: 2px solid var(--_accent-color);
    border-radius: 0.25rem;

    summary {
      position: relative;
      list-style: none;
      font-weight: 500;

      &::before {
        /* Dashicons: Arrow Right */
        content: "\f139";
        position: absolute;
        display: block;
        top: 0;
        right: calc(100% + var(--_details-padding));

        padding: 0.25rem;
        background-color: var(--_accent-color);

        border-radius: 0.25rem 0 0 0.25rem;

        color: var(--_accent-color-contrast);
        font-family: "dashicons";
        font-size: 1.5em;
      }
    }

    dl {
      border-block-start: 1px solid var(--_accent-color);
    }

    dt {
      font-weight: 700;
      margin-block-start: 1em;

      + dd {
        margin-block-start: 0.5em;
      }
    }

    ul.keywords {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;

      margin-block: 0;

      li {
        display: inline-block;
        min-width: fit-content;

        padding: 0.25em 0.75em;

        border-radius: 100vw;

        background-color: var(--dtpc-secondary);

        color: var(--dtpc-secondary-contrast);
        font-size: 0.8em;
        text-transform: capitalize;
      }
    }

    &.success {
      --accent-color: var(--dtpc-success);
      --accent-color-contrast: var(--dtpc-success-contrast);
    }

    &.info {
      --accent-color: var(--dtpc-info);
      --accent-color-contrast: var(--dtpc-info-contrast);
    }

    &.warn {
      --accent-color: var(--dtpc-warn);
      --accent-color-contrast: var(--dtpc-warn-contrast);
    }

    &.danger {
      --accent-color: var(--dtpc-danger);
      --accent-color-contrast: var(--dtpc-danger-contrast);
    }

    &[open] {
      summary {
        &::before {
          /* Dashicons: Arrow Down */
          content: "\f140";
        }
      }
    }
  }

  @container metabox (width >= 782px) {
    tr {
      grid-template-columns: 15rem 3fr;
    }
  }
}

.password-wrapper {
  --btn-width: 2.25rem;

  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr var(--btn-width);
  column-gap: 0.25rem;
  place-items: center;

  & > * {
    grid-row: 1;
  }

  & > input {
    grid-column: 1 / -1;

    padding-inline-end: var(--btn-width);
  }

  & > button {
    grid-column: 2;

    aspect-ratio: 1;

    padding: 0.125rem;

    border: none;

    background: none;
  }
}

#dovetail-app-summary {
  display: grid;
  gap: 2rem;

  padding: 1.5rem;

  border-radius: 0.25rem;

  background-color: #003a57;

  color: #fff;
  line-height: 1;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0 !important;

    color: inherit;
  }

  p {
    text-wrap: pretty;
  }

  header {
    display: flex;
    align-items: center;
    gap: 2rem;

    h2 {
      flex-grow: 1;

      margin: 0;

      font-size: clamp(1.5rem, calc(2vw + 0.25rem), 2rem);

      .dashicons-before {
        &::before {
          width: 1em;
          height: 1em;
          font-size: inherit;
        }
      }
    }
  }

  @container metabox (width < 650px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.dovetail-user {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  & > img {
    width: 4rem;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vw;
    border: 0.25em solid #fff;
  }
}

.dovetail-user-info {
  display: grid;
}

.dovetail-user-name {
  font-weight: 700;
}

.dovetail-divider {
  --_size: var(--divider-size, 0.125rem);
  --_color: var(--divider-color, currentColor);

  align-self: stretch;
  min-width: var(--_size);
  min-height: var(--_size);

  background-color: var(--_color);

  border-radius: 100vw;
}

.dovetail-summary {
  flex-grow: 1;

  > * {
    margin-block: 0;

    & + * {
      margin-block-start: 1rem;
    }
  }
}

.dovetail-summary-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.dovetail-podcasts {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;

  padding: 0.5rem;

  border-radius: 0.25rem;

  background-color: hsl(0 0% 100% / 30%);
}

.dovetail-podcast {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  padding: 1rem;

  border-radius: 0.25rem;

  background-color: #003a57;

  color: #fff;
}

.dovetail-podcast-thumbnail {
  width: 2rem;
  height: auto;
  aspect-ratio: 1;

  border-radius: 0.25em;
  border: 0.25em solid #fff;

  &:is(img) {
    object-fit: cover;
  }

  &:is(span) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dovetail-podcast-info {
  display: grid;
}

.dovetail-podcast-title {
  font-weight: 700;
  text-wrap: balance;
}

.dovetail-info-card {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;

  font-size: 2rem;

  strong {
    font-size: 2em;
  }
}

#dovetail-player-preview {
  --_foreground: currentColor;
  --_surface: transparent;

  display: grid;
  gap: 0.75rem;

  padding: 0.5rem;

  border-radius: 0.25rem;

  color-scheme: light dark;

  color: var(--_foreground);
  background-color: var(--_surface);

  box-shadow:
    0 2px 4px 2px color-mix(in oklch, currentColor 30%, transparent),
    0 8px 12px 0 color-mix(in oklch, currentColor 30%, transparent);

  button {
    appearance: none;

    padding: 0.325em;

    border: none;
    border-radius: 100vw;

    background-color: transparent;

    color: var(--_foreground);
    line-height: 0;

    cursor: pointer;
  }

  .dtpc-toolbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;

    > h3 {
      flex-grow: 1;
      margin: 0;
      padding-inline-start: 0.5rem;
      color: var(--_foreground);
    }

    > .dtpc-control-group {
      background-color: color-mix(in oklch, currentColor 10%, transparent);
      padding: 0.25rem;
      border-radius: 100vw;
    }
  }

  &:where([data-theme="dark"], [data-theme="light"]) {
    --_foreground: CanvasText;
    --_surface: Canvas;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
  }

  &:has(dtpc-player[backdrop]) {
    .dtpc-backdrop {
      button {
        [data-theme="auto"] & {
          background-color: color-mix(
            in oklch,
            var(--_foreground) 40%,
            transparent
          );
        }

        :where([data-theme="light"], [data-theme="dark"]) & {
          background-color: var(--_foreground);
          color: var(--_surface);
        }
      }
    }
  }

  .dtpc-color-mode {
    display: flex;
    gap: 0.25rem;

    button {
      [data-theme="auto"] &[data-theme-color="auto"] {
        background-color: color-mix(
          in oklch,
          var(--_foreground) 40%,
          transparent
        );
      }

      [data-theme="dark"] &[data-theme-color="dark"],
      [data-theme="light"] &[data-theme-color="light"] {
        background-color: var(--_foreground);
        color: var(--_surface);
      }
    }
  }
}
