/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

dtpc-progress-bar {
	--__dtpc-slider--scrubber--color: var(--dtpc-progress-bar--scrubber--color);
	--__dtpc-slider--scrubber--size: var(
		--dtpc-progress-bar--scrubber--size,
		var(--dtpc-slider--scrubber--size, 1.25rem)
	);
	--__dtpc-slider--scrubber--border-color: var(
		--dtpc-progress-bar--scrubber--border-color
	);
	--__dtpc-slider--scrubber--border-thickness: var(
		--dtpc-progress-bar--scrubber--border-thickness
	);
	--__dtpc-slider--scrubber--border-radius: var(
		--dtpc-progress-bar--scrubber--border-radius
	);
	--__dtpc-slider--progress--color: var(--dtpc-progress-bar--progress--color);
	--__dtpc-slider--track--color: var(
		--dtpc-progress-bar--track--color,
		var(--dtpc-slider--track--color, transparent)
	);
	--__dtpc-slider--track--thickness: var(
		--dtpc-progress-bar--track--thickness,
		var(--dtpc-slider--track--thickness, 0.5rem)
	);
	--__dtpc-slider--track--radius: var(--dtpc-progress-bar--track--radius);
	--__dtpc-slider--track--border-color: var(
		--dtpc-progress-bar--track--border-color,
		var(--dtpc-slider--track--border-color, var(--_dtpc-player--foreground))
	);
	--__dtpc-slider--track--border-thickness: var(
		--dtpc-progress-bar--track--border-thickness,
		var(--dtpc-slider--track--border-thickness, 0.125rem)
	);
	--__dtpc-slider--track--border-offset: var(
		--dtpc-progress-bar--track--border-offset,
		var(--dtpc-slider--track--border-offset, 0.125rem)
	);
	--__dtpc-slider--focus-ring-color: var(--dtpc-progress-bar--focus-ring-color);
	--__dtpc-slider--focus-ring-offset: var(
		--dtpc-progress-bar--focus-ring-offset
	);
	--__dtpc-slider--focus-ring-thickness: var(
		--dtpc-progress-bar--focus-ring-thickness
	);
}
