/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

dtpc--mute-button {
	--__dtpc-button--size: var(--dtpc-mute-button--size);
	--__dtpc-button--padding: var(--dtpc-mute-button--padding);
	--__dtpc-button--foreground: var(--dtpc-mute-button--foreground);
	--__dtpc-button--foreground--hover: var(
		--dtpc-mute-button--foreground--hover
	);
	--__dtpc-button--foreground--active: var(
		--dtpc-mute-button--foreground--active
	);
	--__dtpc-button--surface: var(--dtpc-mute-button--surface);
	--__dtpc-button--surface--hover: var(--dtpc-mute-button--surface--hover);
	--__dtpc-button--surface--active: var(--dtpc-mute-button--surface--active);
	--__dtpc-button--surface-blur: var(--dtpc-mute-button--surface-blur);
	--__dtpc-button--surface-opacity: var(--dtpc-mute-button--surface-opacity);
	--__dtpc-button--surface-opacity--hover: var(
		--dtpc-mute-button--surface-opacity--hover
	);
	--__dtpc-button--surface-opacity--active: var(
		--dtpc-mute-button--surface-opacity--active
	);
	--__dtpc-button--border-color: var(--dtpc-mute-button--border-color);
	--__dtpc-button--border-color--hover: var(
		--dtpc-mute-button--border-color--hover
	);
	--__dtpc-button--border-color--active: var(
		--dtpc-mute-button--border-color--active
	);
	--__dtpc-button--border-radius: var(--dtpc-mute-button--border-radius);
	--__dtpc-button--border-radius--hover: var(
		--dtpc-mute-button--border-radius--hover
	);
	--__dtpc-button--border-radius--active: var(
		--dtpc-mute-button--border-radius--active
	);
	--__dtpc-button--border-width: var(--dtpc-mute-button--border-width);
	--__dtpc-button--border-width--hover: var(
		--dtpc-mute-button--border-width--hover
	);
	--__dtpc-button--border-width--active: var(
		--dtpc-mute-button--border-width--active
	);
	--__dtpc-button--focus-ring-color: var(--dtpc-mute-button--focus-ring-color);
	--__dtpc-button--focus-ring-offset: var(
		--dtpc-mute-button--focus-ring-offset
	);
	--__dtpc-button--focus-ring-width: var(--dtpc-mute-button--focus-ring-width);
}
