:host {
  --dtpc-slider--scrubber--color: var(--dtpc-progress-bar--scrubber--color);
  --dtpc-slider--scrubber--size: var(--dtpc-progress-bar--scrubber--size, 1.25rem);
  --dtpc-slider--scrubber--border-color: var(--dtpc-progress-bar--scrubber--border-color, currentColor);
  --dtpc-slider--scrubber--border-thickness: var(--dtpc-progress-bar--scrubber--border-thickness, 0.125rem);
  --dtpc-slider--scrubber--border-radius: var(--dtpc-progress-bar--scrubber--border-radius);
  --dtpc-slider--progress--color: var(--dtpc-progress-bar--progress--color);
  --dtpc-slider--track--color: var(--dtpc-progress-bar--track--color);
  --dtpc-slider--track--thickness: var(--dtpc-progress-bar--track--thickness, 0.5rem);
  --dtpc-slider--track--radius: var(--dtpc-progress-bar--track--radius);
  --dtpc-slider--track--border-color: var(--dtpc-progress-bar--track--border-color, currentColor);
  --dtpc-slider--track--border-thickness: var(--dtpc-progress-bar--track--border-thickness, 0.125rem);
  --dtpc-slider--track--border-offset: var(--dtpc-progress-bar--track--border-offset, 0.125rem);
  --dtpc-slider--focus-ring-color: var(--dtpc-progress-bar--focus-ring-color);
  --dtpc-slider--focus-ring-offset: var(--dtpc-progress-bar--focus-ring-offset);
  --dtpc-slider--focus-ring-thickness: var(--dtpc-progress-bar--focus-ring-thickness);

  flex-grow: 1;
}
