:host {
  --_dtpc-button--size: var(--dtpc-button--size, 1.5rem);
  --_dtpc-button--padding: var(--dtpc-button--padding, 0.325rem);
  --_dtpc-button--foreground: var(--dtpc-button--foreground, CanvasText);
  --_dtpc-button--foreground--hover: var(--dtpc-button--foreground--hover, CanvasText);
  --_dtpc-button--foreground--active: var(--dtpc-button--foreground--active, CanvasText);
  --_dtpc-button--surface: var(--_dtpc-button--surface, CanvasText);
  --_dtpc-button--surface--hover: var(--dtpc-button--surface--hover, CanvasText);
  --_dtpc-button--surface--active: var(--dtpc-button--surface--active, CanvasText);
  --_dtpc-button--surface-opacity: var(--dtpc-button--surface-opacity, 0);
  --_dtpc-button--surface-opacity--hover: var(--dtpc-button--surface-opacity--hover, 20%);
  --_dtpc-button--surface-opacity--active: var(--dtpc-button--surface-opacity--active, 10%);
  --_dtpc-button--border-color: var(--dtpc-button--border-color, transparent);
  --_dtpc-button--border-color--hover: var(--dtpc-button--border-color--hover, transparent);
  --_dtpc-button--border-color--active: var(--dtpc-button--border-color--active, transparent);
  --_dtpc-button--border-radius: var(--dtpc-button--border-radius, 100vw);
  --_dtpc-button--border-radius--hover: var(--dtpc-button--border-radius--hover, 100vw);
  --_dtpc-button--border-radius--active: var(--dtpc-button--border-radius--active, 100vw);
  --_dtpc-button--border-width: var(--dtpc-button--border-width, 0);
  --_dtpc-button--border-width--hover: var(--dtpc-button--border-width--hover, 0);
  --_dtpc-button--border-width--active: var(--dtpc-button--border-width--active, 0);
  --_dtpc-button--focus-ring-color: var(--dtpc-button--focus-ring-color, LinkText);
  --_dtpc-button--focus-ring-offset: var(--dtpc-button--focus-ring-offset, 0.125rem);
  --_dtpc-button--focus-ring-width: var(--dtpc-button--focus-ring-width, 2px);
}

:host {
  --_size: var(--_dtpc-button--size);
  --_padding: var(--_dtpc-button--padding);
  --_foreground: var(--_dtpc-button--foreground);
  --_surface: var(--_dtpc-button--surface);
  --_surface-opacity: var(--_dtpc-button--surface-opacity);
  --_border-color: var(--_dtpc-button--border-color);
  --_border-radius: var(--_dtpc-button--border-radius);
  --_border-width: var(--_dtpc-button--border-width);
  --_focus-ring-color: var(--_dtpc-button--focus-ring-color);
  --_focus-ring-offset: var(--_dtpc-button--focus-ring-offset);
  --_focus-ring-width: var(--_dtpc-button--focus-ring-width);

  all: unset;

  transition-property: background-color, border-color, border-width, border-radius, color;
  transition-duration: 200ms;
  transition-timing-function: ease;

  box-sizing: content-box;
  display: inline-grid;
  place-items: stretch;
  justify-content: stretch;
  aspect-ratio: 1;
  width: var(--_size);

  padding: var(--_padding);

  border-style: solid;
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_border-radius);

  background-color: color-mix(in oklch, var(--_surface) var(--_surface-opacity), transparent);

  color: var(--_foreground);

  cursor: pointer;
  user-select: none;
}

:host(:hover) {
  --_foreground: var(--_dtpc-button--foreground--hover);
  --_surface: var(--_dtpc-button--surface--hover);
  --_surface-opacity: var(--_dtpc-button--surface-opacity--hover);
  --_border-color: var(--_dtpc-button--border-color--hover);
  --_border-width: var(--_dtpc-button--border-width--hover);
  --_border-radius: var(--_dtpc-button--border-radius--hover);
}

:host(:active) {
  --_foreground: var(--_dtpc-button--foreground--active);
  --_surface: var(--_dtpc-button--surface--active);
  --_surface-opacity: var(--_dtpc-button--surface-opacity--active);
  --_border-color: var(--_dtpc-button--border-color--active);
  --_border-width: var(--_dtpc-button--border-width--active);
  --_border-radius: var(--_dtpc-button--border-radius--active);
}

:host(:focus-visible) {
  outline-style: solid;
  outline-offset: var(--_focus-ring-offset);
  outline-color: var(--_focus-ring-color);
  outline-width: var(--_focus-ring-width);
}

.lucide-icon {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: 100%;

  svg {
    width: 100%;
    height: auto;
  }
}
